<!DOCTYPE html>
<html>
    <body>
        <form action = 'http://0.0.0.0:5000/login' method = "post">
            <p>Write Message:</p>
            <p><input type = "text" message = "msg" /></p>
            <p>Enter Name:</p>
            <p><input type = "text" name = "name" /></p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
        <!--<form action = 'http://0.0.0.0:5000/login' method = "post">
        
        <p><input type = "submit" value = "Submit" /></p>
        </form> -->
    </body>
</html>